// 1. Configuration and helpers
@import '../../assets/styles/abstracts/abstracts.scss';

.single-page {
  padding: 100px 0;

  .character-block {
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 0 auto 50px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0 15px 15px 18px;
        display: flex;
        align-items: center;
        color: rgba($white, 0.7);

        h4 {
          margin: 0 5px 0 0;
          color: $white;
        }
      }
    }
  }

  .character-content {
    font-size: 20px;
    line-height: 1.5;
  }

  .status-info {
    margin-bottom: 20px;
  }

  .character-img {
    width: 320px;
    height: 320px;
    border-radius: 50rem;
    margin: 0 30px 0 0;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
    border: 10px solid $white;
  }

  .container {
    // max-width: 1368px;
  }

  .text {
    color: $gray-100;

    p {
      &:last-child {
        margin: 0;
      }
    }
  }

  .episodes-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0 10px 10px;
    }

    a {
      color: $white;
      background-color: rgba($primary, 0.7);
      padding: 5px 10px;
      border-radius: 5px;
      display: block;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}
