// 1. Configuration and helpers
@import '../../assets/styles/abstracts/abstracts.scss';

.page-404 {
  text-align: center;
  background-color: $gray-900;

  .container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 514px;
  }

  h1 {
    font-size: 72px;
    margin-bottom: 20px;
    font-weight: 300;
    color: rgba($white, 0.82);
  }

  .btn {
    font-size: 12px;
    padding: 12px 15px;
    font-weight: 600;
    min-width: 170px;
  }
}
